/* #searchForm {
  display: flex;
  padding: 35px 0;
  border-radius: 5px;
  margin: auto;
}

.form .search {
  position: relative;
  height: 45px;
  margin: auto 5px;
  display: flex;
}

.form .search input {
  background-color: #ffffff9c;
  border-left: 2px solid #eff0f9;
  border-top: 2px solid #eff0f9;
  border-bottom: 2px solid #eff0f9;
  border-right: inherit;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
  width: 120px;
}

.form .dropdown {
  border-radius: 5px;
  width: 100px;
  padding: 5px;
}

.form .dropdown select {
  border: 2px solid #eff0f9;
  border-radius: 5px;
  max-width: 150px;
  height: 47px;
  background-color: #ffffff9c;
  text-align: center;
}

.form .search button {
  width: 50px;
  height: 45px;
  border: 0;
  background: rgb(179, 31, 179);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #b891ab;
  cursor: pointer;
  border: 0px;
}

.form .search button:hover {
  background: #ce8ace;
  border-color: #ce8ace;
}

.dropdown select {
  border: 2px solid #eff0f9;
  height: 45px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  color: #0000008f;
  cursor: pointer;
  border: 0;
  outline: none;
  text-align: center;
} */
